@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background: #191c2b;
}

button:active, button:focus,
form:active,
form:focus,
input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  box-shadow: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.error {
  display: block;
  color: #d40202;
  font-size: 1.5rem;
  padding: 5px 15px;
}

.hide {
  display: none !important;
}

.loader {
  border: 2px solid #df7716;
  border-right: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  animation: anim-rotate 1s infinite linear;
}

.btn {
  display: block;
  text-decoration: none;
  background: none;
  cursor: pointer;
  border: none;
  color: #fff;
  line-height: normal;
  padding: 5px 10px;
}
.btn.btn-primary {
  background-color: #000;
  text-transform: uppercase;
  font-size: 2rem;
}
.btn.btn-submit {
  background-color: #fff;
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 15px;
  color: #000;
  float: right;
  transition: all 0.3s linear;
}
.btn.btn-submit:hover {
  transition: all 0.3s linear;
  opacity: 0.8;
}

section.social {
  position: fixed;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #fff;
  border-right: none;
  z-index: 999999;
}
@media (max-width: 639px) {
  section.social {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #fff;
  }
}
section.social .social__link {
  font-size: 40px;
  color: #fff;
  transform: scale(0.9);
  transition: opacity 0.3s linear, transform 0.3s linear;
}
@media (max-width: 639px) {
  section.social .social__link {
    font-size: 30px;
  }
}
section.social .social__link:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 639px) {
  section.social .social__link:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
section.social .social__link:hover {
  transition: opacity 0.3s linear, transform 0.3s linear;
  opacity: 0.8;
  transform: scale(1);
}

body.index-template .search-bar {
  padding: 60px 15px;
  color: #fff;
}
@media (max-width: 639px) {
  body.index-template .search-bar {
    padding: 15px;
  }
}
body.index-template .search-bar .search-bar__label {
  display: block;
  margin-bottom: 10px;
}
body.index-template .search-bar .search-bar__input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
body.index-template .search-bar .search-bar__input:focus, body.index-template .search-bar .search-bar__input:active, body.index-template .search-bar .search-bar__input:hover {
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s linear;
  background-color: #cfcfcf;
}
body.index-template #card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
body.index-template .card {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  color: #fff;
}
@media (max-width: 639px) {
  body.index-template .card {
    padding: 15px;
    max-width: 300px;
  }
}
body.index-template .card .card__img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
body.index-template .card .card__img:hover {
  animation: anim-rotate 1s linear;
}
body.index-template .card .card__content {
  padding: 10px;
  text-align: center;
}
body.index-template .card .card__name {
  font-size: 1.375rem;
  margin-bottom: 10px;
}
body.index-template .card .card__date {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
body.index-template .card .card__bio {
  margin: 0;
  margin-bottom: 10px;
}
body.index-template .card .card__link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #0000ff;
  border: 1px solid #0000ff;
  background-color: #fff;
  padding: 8px 25px;
}
body.index-template .card .card__link:hover {
  text-decoration: underline;
}
body.index-template .add-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(238, 238, 238, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index-template .add-bar .add-bar-form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fda707;
  padding: 60px 40px;
  box-shadow: 0 0 12px #000;
}
body.index-template .add-bar .add-bar-form .add-bar__title {
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: #fff;
}
body.index-template .add-bar .add-bar-form .add-bar-form__label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}
body.index-template .add-bar .add-bar-form .add-bar-form__title,
body.index-template .add-bar .add-bar-form .add-bar-form__desc {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 10px;
}
body.index-template .add-bar .add-bar-form .add-bar-form__status {
  display: block;
  color: #fd2828;
  font-size: 20px;
  margin-bottom: 5px;
}
body.index-template .btn.btn-primary.btn-add-bar {
  width: 100px;
  height: 100px;
  font-size: 40px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50%;
  transform: translate(-50px, -50%);
  background: #fda707;
  transition: transform 0.3s linear;
}
body.index-template .btn.btn-primary.btn-add-bar:hover {
  transition: transform 0.3s linear;
  transform: translate(0, -50%);
  background: #ff1100;
}

@keyframes anim-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
